<% const { show = true, menu = true, home = false, fullscreen = false, lastCommit = false } = locals; %>

<!DOCTYPE html>
<html lang="<%= locals.htmlLang %>">
<!-- <% if (lastCommit) { %>Current commit: https://github.com/BustByte/coronastatus/commits/<%= lastCommit %><% } else { %>Get our code here: https://github.com/BustByte/coronastatus<% } %>  -->
<head>
<%- include('partials/head') -%>
</head>
<body class="flex flex-col">
  <div class="static w-full bottom-0 left-0 right-0">
    <div>
      <%- include('partials/banner', {
        message: __('This system was developed for the'),
        link: 'https://devpost.com/software/5vid-co',
        linkText: __('COVID-19 Global Hackathon'),
        message1: __('in just 2 days. It is under construction and we hope to have a stable version soon. Thanks for your understanding.'),
        color: '#55c3d5'
      }) -%>
      <!-- Important Banner with profileURL
      <%- include('partials/banner', {
        start: __('Important'),
        message: __('Use the link you noted down last time to update your health condition'),
        color: '#55c3d5',
        style: 'display: none;',
        id: 'has-submitted-alert',
        onclick: 'hasSubmittedAlertOnClick()'
      }) -%>
      -->
    </div>
  </div>

  <div class="main-container flex flex-col flex-grow">

  <% if (menu) { %>
    <section class="custom-section custom-hero p-4 w-full <% if (fullscreen) { %>custom-fullscreen<% } %>">
      <div class="custom-section-content <% if (fullscreen) { %>mx-4<% } else { %>mx-auto<% } %>">
        <header class="py-2 flex justify-between items-center flex-wrap">
          <%- include('partials/logo') -%>
          <%- include('partials/menu') -%>
        </header>
      </div>
    </section>
  <% } %>

  <% if (show && !home) { %>
    <section class="custom-section-content flex-grow mx-auto px-6 lg:px-0">
  <% } %>
