<%- include('partials/header') -%>
<%- console.log("PatientID profile:", patientId) -%>
<% if (patientId !== null) { %>
<section class="custom-videocall-consent mt-8 mx-auto p-8 rounded-lg w-full">
    <h3 class="mt-0 text-1xl font-bold sm:text-2xl">
        <%= __(`5vid ID`) %>
    </h3>
    <p class="subtitle text-justify text-lg mb-2">
        <%= __(`This is your 5vid ID, make sure you save it in a safe place. Use this personal code when reporting your health condition again.`)%>
    </p>
    <div class="flex justify-center">
    <input readonly id="patient-id" name="patient-id" type="text" style="width:200px"
            class="mb-4 h-12 mr-4 bg-gray-50 justify-between sm:justify-between appearance-none border-2 border-cvs-red rounded focus:outline-none font-bold text-center text-xl" 
            value="<%=patientId%>"/>
    </div>
</section>
<% } %>

<section class="custom-videocall-consent mt-8 mx-auto p-8 rounded-lg w-full">
    <h2 class="mt-0 text-1xl sm:text-2xl">
        <%= __(`Risk clasification`) %>
    </h2>
    <% if (covidRisk === 'low') { %>
    <p class="subtitle text-justify text-lg">
        <%= __(`According to the reported information, you have a low probability of having contracted the virus or presenting any complication. However, if your clinical picture worsens, you can enter the system and fill out the form again.`)%>
    </p>
    <p class="subtitle text-justify text-lg mt-3">
        <strong>
            <%= __(`We recommend that you consult your IPS if you experience any of the following symptoms:`)%>
        </strong>
    </p>
    <% } else if (covidRisk === 'medium'){ %>
    <p class="subtitle text-justify text-lg">
        <%= __(`According to the reported information, you should be evaluated by a doctor in the next 24 hours. For this reason, you will receive a call from a doctor to the phone number that you filled out in the form, in which he will explain how to enter a video call to be able to extend the medical history and determine the risks in order to get proper addressing.`)%>
        <strong>
            <%= __(`If you have not received the call after this time and you have any of the following symptoms, you should consult your IPS as a priority:`)%>
        </strong>
    </p>
    <% } else if (covidRisk === 'high'){ %>
    <p class="subtitle text-justify text-lg">
        <%= __(`According to the reported information, you should be evaluated by a doctor as soon as possible. For this reason, you will receive a call from a doctor to the phone number that you filled out in the form, in which he will explain how to enter a video call to be able to extend the medical history and determine the risks in order to get proper addressing.`)%>
        <strong><%= __(`If you have not received the call in the next 12 hours and you have any of the following symptoms, you should consult your IPS as a priority:`)%>
        </strong>
    </p>
    <% } else { %>
    <p class="subtitle text-justify text-lg">
        <%= __(`An error occurred in the system when performing the risk classification based on the reported information. Please try again to fill out the form. If the error persists, write us at`)%>
        <a href="https://twitter.com/5vidco" class="text-cvs-red hover:underline" target="_blank"><%= __("@5vidco") %></a>
        <%= __(`or send us an email to`)%>
        <a href="mailto:sincovid@gmail.com" class="text-cvs-red hover:underline" target="_blank"><%= __("sincovid@gmail.com") %></a>.
        <%= __(`Thanks for your understanding.`)%>
    </p>
    <% } %>
    <% if ((covidRisk === 'low') || (covidRisk === 'medium') || (covidRisk === 'high')) { %>
    <ul class="text-lg mt-3" style="list-style-type:circle; padding-left:20px">
        <li><%= __(`Quantified fever (greater than or equal to 38 degrees) for more than two days.`)%></li>
        <li><%= __(`Breathing faster than normal.`)%></li>
        <li><%= __(`Quick decay of the general state.`)%></li>
        <li><%= __(`Chest sound or pain when breathing.`)%></li>
        <li><%= __(`Sleepiness or difficulty waking up.`)%></li>
    </ul>
    <% } %>
</section>

<section class="custom-videocall-consent mt-8 mx-auto p-8 rounded-lg w-full">

    <h2 class="mt-0 text-1xl sm:text-2xl">
        <%= __(`Recommendations`) %>
    </h2>
    <p class="subtitle text-justify text-lg">
        <%= __(`Keep in mind the following recommendations to take care of your health and protect the health of others:`)%>
    </p>

    <ul class="text-lg mt-3" style="list-style-type:circle; padding-left:20px">
        <li><strong><%= __(`Wash your hands frequently:`)%></strong>
            <%= __(`when washing your hands, you can use an alcohol-based disinfectant or just soap and water.`)%>
        </li>
        <li><strong><%= __(`Take respiratory hygiene measures:`)%></strong>
            <%= __(`when coughing or sneezing, cover your mouth and nose with your elbow flexed or with a tissue. If you use a tissue, throw it away immediately and wash your hands. If you sneeze or cough on your hands, you can contaminate the objects or people you touch.`)%>
        </li>
        <li><strong><%= __(`Maintain social distance:`)%></strong>
            <%= __(`try to keep at least 2 meters of distance between yourself and other people, particularly those who are coughing, sneezing and have a fever.`)%>
        </li>
        <li><%= __(`Avoid sharing personal items like phones and computers.`)%></li>
        <li><%= __(`Avoid touching your eyes, nose, and mouth.`)%></li>
        <li><%= __(`Clean and decontaminate objects and surfaces.`)%></li>
        <li><%= __(`Ventilate your home and work areas whenever possible.`)%></li>
    </ul>

    <p class="subtitle text-justify text-lg mt-3">
        <%= __("For more information, visit the pages of the") %>
        <a href="https://www.minsalud.gov.co/Paginas/default.aspx" class="text-cvs-red hover:underline"
            target="_blank"><%= __("Ministry of Health and Social Protection") %></a>
        <%= __("and the") %>
        <a href="https://www.who.int/es" class="text-cvs-red hover:underline" target="_blank"><%= __("WHO") %></a>.
    </p>


    <!-- If you change the color make sure it's in postcss.config.js -->
    <%- include('partials/alert', { color: 'blue', class: `mb-4 hidden`, id:
  `profile-copy-status-success`, message: __(`The link has been copied.`) })-%>

    <!-- If you change the color make sure it's in postcss.config.js -->
    <%- include('partials/alert', { color: 'red', class: `mb-4 hidden`, id:
  `profile-copy-status-fail`, message: __(`Could not copy the link, please copy
  it yourself`) }) -%>
</section>

<script>
    // This is done so that we can show a hint on the front page that a profile might exist
    // when entering from the same browser at a later time.
    // var hasCookie = 'true' === '<%= hasCookie %>';
    // if (!hasCookie) {
    //     window.localStorage.setItem('isUsingPasscodeLink', 'false');
    // }
</script>

<%- include('partials/footer') -%>