<%- include('partials/header', { show: true }) -%>

<section>
  <h1><%= __('Contributors') %></h1>
  <p class="with-top-margin">
    <%= __(`This website is made with help from volunteers. In no particular
    order:`) %>
  </p>
  <ul class="my-3">
    <li class="contributor-list">Felipe Torres</li>
    <li class="contributor-list">Alejandro Sanchez</li>
    <li class="contributor-list">Juan Sebastian Jaramillo</li>
    <li class="contributor-list">Camilo Velásquez</li>
    <li class="contributor-list">Juan Manuel Gutierrez</li>
    <li class="contributor-list">Juan Manuel Muñoz</li>
    <li class="contributor-list">Juan Pablo Valencia</li>
    <li class="contributor-list">Gabriel Ortega</li>
    <li class="contributor-list">Israel Niezen</li>
    <li class="contributor-list">Santiago Cortez</li>
    <li class="contributor-list">Tomas Olarte</li>
    <li class="contributor-list">Brayan Barrios</li>
    <li class="contributor-list">Special thanks to BustByte AS</li>
    <li class="contributor-list">
      <a class="text-cvs-red hover:underline"
        target="_blank"
        href="https://github.com/ibalejandro/covid_global_hackathon/graphs/contributors"
        ><%= __("...and others") %></a
      >
    </li>
  </ul>
  <p>
    <%= __("The code for the website can be found") %>
    <a href="https://github.com/ibalejandro/covid_global_hackathon" class="text-cvs-red hover:underline"><%= __("here") %></a>.
  </p>
</section>

<%- include('partials/footer', { show: true }) -%>
