<%- include('partials/header', { show: true }) -%>

<section>
  <h1><%= __('Attention Lines') %></h1>
  <!-- Lineas de atención-->
  <p class="with-top-margin">
    <%= __(`National line`) %>
  </p>
  <ul class="my-3">
    <li class="contributor-list">Amazonas: 3153615018</li>
    <li class="contributor-list">Antioquia: 3003050295 - #774</li>
    <li class="contributor-list">Medellín: línea 123</li>
    <li class="contributor-list">Arauca: 3504120127 y línea 125</li>
    <li class="contributor-list">Atlántico: (035) 3236220</li>
    <li class="contributor-list">Barranquilla: 3793333 – 3175173964 – 3153002003</li>
    <li class="contributor-list">Bogotá: Línea 123</li>
    <li class="contributor-list">Bolívar: Línea 125</li>
    <li class="contributor-list">Cartagena: 3174016183</li>
    <li class="contributor-list">Boyacá: 3114834104 – 7407464</li>
    <li class="contributor-list">Caldas: (6) 8800818 – 3104267906</li>
    <li class="contributor-list">Manizales: Línea 123</li>
    <li class="contributor-list">Caquetá: 3213945327</li>
    <li class="contributor-list">Casanare: 3213945317 – (8) 6345555</li>
    <li class="contributor-list">Cauca: 3012737787</li>
    <li class="contributor-list">Cesar: 3205653159</li>
    <li class="contributor-list">Valledupar: 3106332291</li>
    <li class="contributor-list">Chocó: 3213945297</li>
    <li class="contributor-list">Córdoba: 3205308209 – 3168751277</li>
    <li class="contributor-list">Cundinamarca: Línea 123</li>
    <li class="contributor-list">Guainía: (8)5656251 – 3117421983 - 3117447006</li>
    <li class="contributor-list">Guaviare: 3213946560 - 3213945350 - 3208202418 – 3213944048</li>
    <li class="contributor-list">Huila: 8706633- 8702277 - 8703096</li>
    <li class="contributor-list">La Guajira: 3183400883 - 3213945330</li>
    <li class="contributor-list">Magdalena: 3128070326 – 3213944087</li>
    <li class="contributor-list">Santa Marta: 3012737783</li>
    <li class="contributor-list">Meta: 3213945351 – 3212047605</li>
    <li class="contributor-list">Nariño: 3177129818</li>
    <li class="contributor-list">Norte de Santander: 3202714512</li>
    <li class="contributor-list">Putumayo: 3123191736 – 3118784864</li>
    <li class="contributor-list">Quindío: 3225816422</li>
    <li class="contributor-list">Risaralda: 3152823059</li>
    <li class="contributor-list">San Andrés: 3106511341</li>
    <li class="contributor-list">Santander: 697 87 85 - 697 87 88 – 6970000 Extensión 1283 y 1287</li>
    <li class="contributor-list">Sucre: 2822556 - 3174028049 Solo WhatsApp - 3135519643</li>
    <li class="contributor-list">Tolima: 3228123975</li>
    <li class="contributor-list">Valle del Cauca: 6206819</li>
    <li class="contributor-list">Cali: 486 55 55 Opción 7</li>
    <li class="contributor-list">Buenaventura: 3172870273</li>
    <li class="contributor-list">Vaupés: 3213945341 - CRUE 301 458 76 39</li>
    <li class="contributor-list">Vichada: 322 247 63 44</li>
  </ul>
  <p>
    <%= __("For more information. Go to") %>
    <a href="https://www.ins.gov.co/Noticias/Paginas/Coronavirus.aspx" class="text-cvs-red hover:underline"><%= __("Health Department") %></a>.
    <%= __("website.") %>
  </p>
</section>

<%- include('partials/footer', { show: true }) -%>
