<%
const {
    profile,
    passcode,
    baseUrl,
    urls
  } = locals;
  const age = profile && locals.profile.age;
  const postalCode = profile && locals.profile.postalCode;
  const sex = profile && locals.profile.sex;
  <!-- Adding pregnant-->
  const isPregnant = profile && locals.profile.isPregnant;
  const hasBeenTested = profile && locals.profile.hasBeenTested;
  const hasBeenInContactWithInfected = profile && locals.profile.hasBeenInContactWithInfected;
  const symptomStart = profile && locals.profile.symptomStart;
  const testResult = profile && locals.profile.testResult;
  const phone = profile && locals.profile.phone;
  const videoUrl = profile && locals.profile.videoUrl;
  <!--Adding Name -->
  const name = profile && locals.profile.name;
  <!---->
  const bodyTemperature = profile && locals.profile.bodyTemperature;
  const isolationStatus = profile && locals.profile.isolationStatus;
  const smokingHabit = profile && locals.profile.smokingHabit;
  <!-- New added -->
  const diagnosedWith = profile && locals.profile.diagnosedWith;
  const diagnosedWithDiabetes = diagnosedWith && diagnosedWith['DIABETES'];
  const diagnosedWithHypertensionArterial = diagnosedWith && diagnosedWith['HYPERTENSIONARTERIAL']
  const diagnosedWithCoronaryHeartDisease = diagnosedWith && diagnosedWith['CORONARYHEARTDISEASE']
  const diagnosedWithAsthma = diagnosedWith && diagnosedWith['ASTHMA']
  const diagnosedWithChronicLungDisease = diagnosedWith && diagnosedWith['CHRONICLUNGDISEASE']
  const diagnosedWithKidneyDisease = diagnosedWith && diagnosedWith['KIDNEYDISEASE']
  const diagnosedWithAutoimmuneDisease = diagnosedWith && diagnosedWith['AUTOIMMUNEDISEASE']
  const diagnosedWithVIH = diagnosedWith && diagnosedWith['VIH']
  const diagnosedWithCancer = diagnosedWith && diagnosedWith['CANCER']
  const diagnosedWithObesityOrMalnutrition = diagnosedWith && diagnosedWith['OBESITY_OR_MALNUTRITION']
  const diagnosedWithImmunosupression = diagnosedWith && diagnosedWith['IMMUNOSUPRESSION']

  const symptoms = profile && locals.profile.symptoms;
  const symptomDryCough = symptoms && symptoms['DRY_COUGH'];
  const symptomFatigue = symptoms && symptoms['EXHAUSTION'];
  const symptomFever = symptoms && symptoms['FEVER'];
  const symptomHeavyBreathing = symptoms && symptoms['HEAVY_BREATHING'];
  const symptomMuscleAching = symptoms && symptoms['MUSCLE_ACHING'];
  const symptomDiarrhea = symptoms && symptoms['DIARRHEA'];
  const symptomHeadache = symptoms && symptoms['HEADACHE'];
  const symptomSoreThroat = symptoms && symptoms['SORE_THROAT'];
  const symptomNoSmell = symptoms && symptoms['NO_SMELL'];
  const symptomNoTaste = symptoms && symptoms['NO_TASTE'];
  const symptomSlimeCough = symptoms && symptoms['SLIME_COUGH'];
  const symptomRunnyNose = symptoms && symptoms['RUNNY_NOSE'];
  const symptomChestPain = symptoms && symptoms['CHEST_PAIN'];
  const symptomNauseaOrVomiting = symptoms && symptoms['NAUSEA_OR_VOMITING'];
  <!-- Ages New-->
  const newAges = ['0 - 5', '6 - 11', '12 - 18', '19 - 26', '27 - 59', '>60'];

  function numberWithSpaces(x) {
    return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, " ");
}
%>
<%- include('partials/header', { home: true, menu: false }) -%>

<section class="custom-section custom-hero p-4">
  <div class="custom-section-content mx-auto">
    <header class="py-2 flex justify-center sm:justify-between items-center flex-wrap">
      <%- include('partials/logo') -%>
      <%- include('partials/menu', { home: true }) -%>
    </header>
    <div class="my-8 flex flex-row flex-wrap justify-between">
      <%- include('partials/cta') -%>
      <%- include('partials/app-feature-block', {
            image: '/static/images/hospital.svg',
            title: __('Health centers'),
            description: __('Going to health centers can be a risk. Help us mitigate this risk and make an online diagnosis.')
            }) -%>

      <%- include('partials/app-feature-block', {
            image: '/static/images/mobile.svg',
            title: __("It's free"),
            description: __('In case you need it, a doctor will make your assessment at no cost and he will call you')
            }) -%>

      <%- include('partials/app-feature-block', {
            image: '/static/images/research.svg',
            title: __('Data privacy'),
            description: __('The registered data will be treated with a strict privacy policy. We want to protect your identity and your health.')
            }) -%>

      <%- include('partials/app-feature-block', {
            image: '/static/images/doctor.svg',
            title: __('Contribute'),
            description: __('Report your health condition from home and help us flatten the curve.')
            }) -%>

    </div>
  </div>
</section>

<section class="custom-section-content mx-auto p-4 pb-24 w-full">
  <form id="contribute" method="post" action="/"
    class="custom-form p-6 py-6 lg:p-24 lg:py-12 my-4 rounded-lg flex flex-col items-start">
    <h3 class="text-2xl md:text-3xl lg:text-5xl text-center font-bold text-cvs-red m-2 self-center">
      <%= profile ? __("Your state of health") : __("Report your health condition") %>
    </h3>
    <% if (locals.passcode) { %>
    <!-- If you change the color make sure it's in postcss.config.js -->
    <%- include('partials/alert', {
            color: 'blue',
            message:
            `${__(`Below is your personal health information.`)}
            ${__(`If you want to register another person on this computer, save or write down your personal link`)}
            <strong>${baseUrl}${urls.profile}/${passcode}</strong>
            ${__("and")}
            <a href="${urls.profile}/${passcode}?clear=true" class="font-bold hover:text-cvs-red hover:underline"> ${ __(`clear this form`)}.</a>`,
            }) -%>
    <% } %>

    <div class="flex flex-row items-center mt-8">
      <img src="/static/images/map.svg" alt="" class="h-16 w-16">
      <h3 class="text-cvs-red text-xl font-bold m-4"><%= __("Demography and Geography") %></h3>
    </div>


    <label class="text-h4" for="Age"><%= __("Your age") %></label>
    <select required name="age" id="Age">
      <option value="" disabled selected><%= __("Choose your age") %></option>
      <% for(var i in newAges) {
        const ageSpan = newAges[i];
      %>
      <option value="<%= ageSpan %>" <%= age === `${ageSpan}` ? 'selected' : '' %>><%= ageSpan %></option>
      <% } %>
    </select>

    <fieldset>
      <legend><%= __("Biological gender") %></legend>
      <p class="mb-2">
        <input required type="radio" id="gender-female" name="gender" value="female"
          onclick="changePregnantDisplay(true)" <%= sex === 'FEMALE' ? 'checked' : '' %>>
        <label for="gender-female"><%= __("Female") %></label>
      </p>
      <p class="mb-2">
        <input required type="radio" id="gender-male" name="gender" value="male" onclick="changePregnantDisplay(false)"
          <%= sex === 'MALE' ? 'checked' : '' %>>
        <label for="gender-male"><%= __("Male") %></label>
      </p>
      <p class="mb-2">
        <input required type="radio" id="gender-other" name="gender" value="other"
          onclick="changePregnantDisplay(false)" <%= sex === 'OTHER' ? 'checked' : '' %>>
        <label for="gender-other"><%= __("Other") %></label>
      </p>
    </fieldset>

    <!-- Adding is Pregnant-->
    <div id="pregnant-question" style="display: none;">
      <fieldset >
        <legend><%= __("Are you pregnant?") %></legend>
        <p>
          <input required type="radio" id="is-pregnant-yes" name="is-pregnant" value="yes"
            <%= isPregnant ? 'checked' : '' %>>
          <label class="mr-4" for="is-pregnant-yes"><%= __('Yes') %></label>

          <input required type="radio" id="is-pregnant-no" name="is-pregnant" value="no" checked
            <%= isPregnant === false ? 'checked' : '' %>>
          <label for="is-pregnant-no"><%= __('No') %></label>
        </p>
      </fieldset>
    </div>
    <legend class="mt-1 mb-0"><%= __('Zip code') %>
    </legend>
    <p class="text-base font-thin text-gray-500"><%= __('Must contain 4 to 8 numbers (ex: 050022)')%></p>
    <input
      class="appearance-none border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
      type="text" pattern="[0-9]{4,8}" name="postal-code" id="postal-code" title="<%= __('Must contain 4 to 8 numbers (ex: 050022)') %>"
      value="<%= postalCode %>" >

    <div class="flex flex-row items-center mt-8">
      <img src="/static/images/mask.svg" alt="" class="h-16 w-16">
      <h3 class="text-cvs-red text-xl font-bold m-4"><%= __("Testing and symptoms") %></h3>
    </div>

    <fieldset>
      <legend>
        <%= __("Have you been in close contact with someone who was tested positive or is suspicious for COVID-19?") %>
      </legend>

      <p>
        <input required type="radio" id="been-in-contact-with-yes" name="been-in-contact-with" value="yes"
          <%= hasBeenInContactWithInfected ? 'checked' : '' %>>
        <label class="mr-4" for="been-in-contact-with-yes"><%= __('Yes') %></label>

        <input required type="radio" id="been-in-contact-with-no" name="been-in-contact-with" value="no"
          <%= hasBeenInContactWithInfected === false ? 'checked' : '' %>>
        <label for="been-in-contact-with-no"><%= __('No') %></label>
      </p>
    </fieldset>


    <fieldset>
      <legend><%= __('Have you been tested for COVID-19?')%></legend>
      <p>
        <input required type="radio" id="been-tested-yes" name="been-tested" value="yes"
          onclick="changeTestResultDisplay(true)" <%= hasBeenTested ? 'checked' : '' %>>
        <label class="mr-4" for="been-tested-yes"><%= __('Yes')%></label>

        <input required type="radio" id="been-tested-no" name="been-tested" value="no"
          onclick="changeTestResultDisplay(false)" <%= hasBeenTested === false ? 'checked' : '' %>>
        <label for="been-tested-no"><%= __('No')%></label>
      </p>

      <div id="test-result-question" style="display: none;">
        <fieldset>
          <legend><%= __('What was the result?')%></legend>

          <p>
            <input type="radio" id="test-response-positive" name="test-response" value="positive"
              <%= testResult === 'POSITIVE' ? 'checked' : '' %>>
            <label class="mr-4 mb-4" for="test-response-positive"><%= __('Positive')%></label>

            <input type="radio" id="test-response-negative" name="test-response" value="negative"
              <%= testResult === 'NEGATIVE' ? 'checked' : '' %>>
            <label class="mr-4 mb-4" for="test-response-negative"><%= __('Negative') %></label>

            <input type="radio" class="mb-4" id="test-response-pending" name="test-response" value="pending"
              <%= testResult === 'PENDING' ? 'checked' : '' %>>
            <label for="test-response-pending"><%= __('Waiting for result') %></label>
          </p>
        </fieldset>
      </div>

      <fieldset>
        <legend class="mb-0"><%= __('Symptoms') %></legend>
        <p class="mb-4"><%- __('Select only those you have experienced since you started to feel ill') %></p>

        <label class="checkbox" for="symptom-cough">
          <input type="checkbox" id="symptom-cough" name="symptom-cough" <%= symptomDryCough ? 'checked' : '' %>>
          <span><%= __('Dry cough') %></span>
          <span class="checkmark"></span>
        </label>

        <label class="checkbox" for="symptom-slime-cough">
          <input type="checkbox" id="symptom-slime-cough" name="symptom-slime-cough"
            <%= symptomSlimeCough ? 'checked' : '' %>>
          <span><%= __('Mucus cough (Expectoration)') %></span>
          <span class="checkmark"></span>
        </label>

        <label class="checkbox" for="symptom-fever">
          <input type="checkbox" id="symptom-fever" name="symptom-fever" <%= symptomFever ? 'checked' : '' %>>
          <span><%= __('Fever') %></span>
          <span class="checkmark"></span>
        </label>

        <label class="checkbox" for="symptom-heavy-breath">
          <input type="checkbox" id="symptom-heavy-breath" name="symptom-heavy-breath"
            <%= symptomHeavyBreathing ? 'checked' : '' %>>
          <span><%= __('Shortness of breath') %></span>
          <span class="checkmark"></span>
        </label>

        <label class="checkbox" for="symptom-fatigue">
          <input type="checkbox" id="symptom-fatigue" name="symptom-fatigue" <%= symptomFatigue ? 'checked' : '' %>>
          <span><%= __('Fatigue and exhaustion') %></span>
          <span class="checkmark"></span>
        </label>

        <label class="checkbox" for="symptom-muscle-pain">
          <input type="checkbox" id="symptom-muscle-pain" name="symptom-muscle-pain"
            <%= symptomMuscleAching ? 'checked' : '' %>>
          <span><%= __('Muscle pain') %></span>
          <span class="checkmark"></span>
        </label>

        <label class="checkbox" for="symptom-chest-pain">
          <input type="checkbox" id="symptom-chest-pain" name="symptom-chest-pain"
            <%= symptomChestPain ? 'checked' : '' %>>
          <span><%= __('Chest pain') %></span>
          <span class="checkmark"></span>
        </label>

        <label class="checkbox" for="symptom-diarrhea">
          <input type="checkbox" id="symptom-diarrhea" name="symptom-diarrhea" <%= symptomDiarrhea ? 'checked' : '' %>>
          <span><%= __('Diarrhea') %></span>
          <span class="checkmark"></span>
        </label>

        <label class="checkbox" for="symptom-headache">
          <input type="checkbox" id="symptom-headache" name="symptom-headache" <%= symptomHeadache ? 'checked' : '' %>>
          <span><%= __('Headache') %></span>
          <span class="checkmark"></span>
        </label>

        <label class="checkbox" for="symptom-sore-throat">
          <input type="checkbox" id="symptom-sore-throat" name="symptom-sore-throat"
            <%= symptomSoreThroat ? 'checked' : '' %>>
          <span><%= __('Sore throat') %></span>
          <span class="checkmark"></span>
        </label>

        <label class="checkbox" for="symptom-no-smell">
          <input type="checkbox" id="symptom-no-smell" name="symptom-no-smell" <%= symptomNoSmell ? 'checked' : '' %>>
          <span><%= __('Loss of sense of smell') %></span>
          <span class="checkmark"></span>
        </label>

        <label class="checkbox" for="symptom-no-taste">
          <input type="checkbox" id="symptom-no-taste" name="symptom-no-taste" <%= symptomNoTaste ? 'checked' : '' %>>
          <span><%= __('Loss of sense of taste') %></span>
          <span class="checkmark"></span>
        </label>

        <label class="checkbox" for="symptom-runny-nose">
          <input type="checkbox" id="symptom-runny-nose" name="symptom-runny-nose"
            <%= symptomRunnyNose ? 'checked' : '' %>>
          <span><%= __('Stuffy or runny nose') %></span>
          <span class="checkmark"></span>
        </label>

        <label class="checkbox" for="symptom-nausea-or-vomiting">
          <input type="checkbox" id="symptom-nausea-or-vomiting" name="symptom-nausea-or-vomiting"
            <%= symptomNauseaOrVomiting ? 'checked' : '' %>>
          <span><%= __('Nausea or vomiting') %></span>
          <span class="checkmark"></span>
        </label>
      </fieldset>

      <div id="symptom-start-question" style="display: none;">
        <label for="symptom-start"><%= __('When did the symptoms start?')%></label>
        <input 
            class="appearance-none border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"    
            type="date" 
            name="symptom-start" id="symptom-start" 
            value="<%= symptomStart %>">
      </div>

      <label class="mb-0" for="body-temperature"><%= __('What is your current body temperature? (Celcius)') %></label>
      <p class="mb-4"><%= __('This field is optional in case you have a thermometer') %></p>
      <input type="number"
        class="appearance-none border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        step="0.1" placeholder="37.0" min="35" max="45" name="body-temperature" id="body-temperature"
        value="<%= bodyTemperature %>">

      <!--diagnosedWith-->
      <fieldset>
        <legend class="mb-4"><%= __('Which of the following conditions have you been diagnosed with?') %></legend>
        <label class="checkbox" for="diagnosed-diabetes">
          <input type="checkbox" id="diagnosed-diabetes" name="diagnosed-diabetes"
            <%= diagnosedWithDiabetes ? 'checked' : '' %>>
          <span><%= __('Diabetes') %></span>
          <span class="checkmark"></span>
        </label>

        <label class="checkbox" for="diagnosed-hypertension-arterial">
          <input type="checkbox" id="diagnosed-hypertension-arterial" name="diagnosed-hypertension-arterial"
            <%= diagnosedWithHypertensionArterial ? 'checked' : '' %>>
          <span><%= __('Hypertension Arterial') %></span>
          <span class="checkmark"></span>
        </label>

        <label class="checkbox" for="diagnosed-coronary-heart-disease">
          <input type="checkbox" id="diagnosed-coronary-heart-disease" name="diagnosed-coronary-heart-disease"
            <%= diagnosedWithCoronaryHeartDisease ? 'checked' : '' %>>
          <span><%= __('Coronary Heart Disease') %></span>
          <span class="checkmark"></span>
        </label>

        <label class="checkbox" for="diagnosed-asthma">
          <input type="checkbox" id="diagnosed-asthma" name="diagnosed-asthma"
            <%= diagnosedWithAsthma ? 'checked' : '' %>>
          <span><%= __('Asthma') %></span>
          <span class="checkmark"></span>
        </label>

        <label class="checkbox" for="diagnosed-chronic-lung-disease">
          <input type="checkbox" id="diagnosed-chronic-lung-disease" name="diagnosed-chronic-lung-disease"
            <%= diagnosedWithChronicLungDisease ? 'checked' : '' %>>
          <span><%= __('Chronic Lung Disease') %></span>
          <span class="checkmark"></span>
        </label>

        <label class="checkbox" for="diagnosed-kidney-disease">
          <input type="checkbox" id="diagnosed-kidney-disease" name="diagnosed-kidney-disease"
            <%= diagnosedWithKidneyDisease ? 'checked' : '' %>>
          <span><%= __('Kidney Disease') %></span>
          <span class="checkmark"></span>
        </label>

        <label class="checkbox" for="diagnosed-autoimmune-disease">
          <input type="checkbox" id="diagnosed-autoimmune-disease" name="diagnosed-autoimmune-disease"
            <%= diagnosedWithAutoimmuneDisease ? 'checked' : '' %>>
          <span><%= __('Autoimmune Disease') %></span>
          <span class="checkmark"></span>
        </label>

        <label class="checkbox" for="diagnosed-immunosupression">
          <input type="checkbox" id="diagnosed-immunosupression" name="diagnosed-immunosupression"
            <%= diagnosedWithImmunosupression ? 'checked' : '' %>>
          <span><%= __('Immunosupression Disease') %></span>
          <span class="checkmark"></span>
        </label>

        <label class="checkbox" for="diagnosed-cancer">
          <input type="checkbox" id="diagnosed-cancer" name="diagnosed-cancer"
            <%= diagnosedWithCancer ? 'checked' : '' %>>
          <span><%= __('Cancer') %></span>
          <span class="checkmark"></span>
        </label>

        <label class="checkbox" for="diagnosed-vih">
          <input type="checkbox" id="diagnosed-vih" name="diagnosed-vih" <%= diagnosedWithVIH ? 'checked' : '' %>>
          <span><%= __('HIV') %></span>
          <span class="checkmark"></span>
        </label>

        <label class="checkbox" for="diagnosed-obesity-or-malnutrition">
          <input type="checkbox" id="diagnosed-obesity-or-malnutrition" name="diagnosed-obesity-or-malnutrition"
            <%= diagnosedWithObesityOrMalnutrition ? 'checked' : '' %>>
          <span><%= __('Obesity or Malnutrition') %></span>
          <span class="checkmark"></span>
        </label>
      </fieldset>

      <fieldset>
        <legend><%= __('Do you smoke?') %></legend>
        <p class="mb-2">
          <input required type="radio" id="currently-smoking" name="smoking-habits" value="currently-smoking"
            <%= smokingHabit === 'CURRENTLY' ? 'checked' : '' %>>
          <label for="currently-smoking"><%= __("Yes") %></label>
        </p>
        <p>
          <input required type="radio" id="never-smoked" name="smoking-habits" value="never-smoked"
            <%= smokingHabit === 'NEVER' ? 'checked' : '' %>>
          <label for="never-smoked"><%= __("No") %></label>
        </p>
      </fieldset>

      <fieldset>
        <legend><%= __('Why are you in isolation?')%></legend>
        <p class="mb-2">
          <input required type="radio" id="not-in-isolation" name="isolation-status" value="not-in-isolation"
            <%= isolationStatus === 'NOT_IN_ISOLATION' ? 'checked' : '' %>>
          <label for="not-in-isolation"><%= __("I am not in isolation") %></label>
        </p>
        <p class="mb-2">
          <input required type="radio" id="isolation-due-to-travel" name="isolation-status"
            value="isolation-due-to-travel" <%= isolationStatus === 'ISOLATION_DUE_TO_TRAVEL' ? 'checked' : '' %>>
          <label for="isolation-due-to-travel"><%= __("Due to a recent international travel") %></label>
        </p>
        <p class="mb-2">
          <input required type="radio" id="isolation-due-to-contact" name="isolation-status"
            value="isolation-due-to-contact" <%= isolationStatus === 'ISOLATION_DUE_TO_CONTACT' ? 'checked' : '' %>>
          <label
            for="isolation-due-to-contact"><%= __("Due to contact with an individual who is suspicious of COVID-19") %></label>
        </p>
        <p class="mb-2">
          <input required type="radio" id="isolation-due-to-government" name="isolation-status"
            value="isolation-due-to-government"
            <%= isolationStatus === 'ISOLATION_DUE_TO_GOVERNMENT_ORDERS' ? 'checked' : '' %>>
          <label for="isolation-due-to-government"><%= __("Due to orders from the Government") %></label>
        </p>
        <p>
          <input required type="radio" id="isolation-due-to-covid-19" name="isolation-status"
            value="isolation-due-to-covid-19" <%= isolationStatus === 'ISOLATION_DUE_TO_COVID_19' ? 'checked' : '' %>>
          <label for="isolation-due-to-covid-19"><%= __("Due to COVID-19 infection") %></label>
        </p>
      </fieldset>

      <label class="mb-0" for="name-value"><%= __('What is your name?') %></label>
      <input required type="text"
        class="appearance-none border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        value="<%=name%>" name="name-value" id="name-value">

      <label class="mb-0" for="phone-number"><%= __('What is your phone number?') %></label>
      <p class="text-base"> <%= __('Make sure that the entered phone number is correct') %></p>
      <p class="text-base font-thin text-gray-500"><%= __('Must contain only 10 numbers (ex: 30082584XX)')%></p>
      <input required type="tel" title="<%= __('Must contain only 10 numbers (ex: 30082584XX)') %>"
        class="appearance-none border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        pattern="[0-9]{10}" name="phone-number" id="phone-number" >
      <div>
        <legend class="mb-4"><%= __('Vital signs - OPTIONAL') %></legend>
        <div class="video-container">
          <div>
            <span id="video-upload-progress"></span>
            <p class="mb-4" for="video-file">
              <%= __('Upload a video of your forefinger pressing the camera for 25 seconds with a white light source in the background (a lamp, bulb or the sun). It should look completly red.')%>
            </p>
            <input type="file"
              class="appearance-none border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline cursor-pointer m-1"
              step="0.1" name="video-file" id="video-file">
          </div>
          <video id="video-element" controls></video>
        </div>
        <input name="video-url" type="hidden" id="video-url" value="<%=videoUrl%>" />
      </div>

      <h3 class="text-cvs-red text-xl font-bold m-4 ml-0 mt-8 mb-0"><%= __("How will my data be used?") %></h3>

      <p class="mt-0 mb-4">
        <%= __('The registered data will be treated with a strict privacy policy. We want to protect your identity and your health.')%>
        <%= __('They will only be shared with doctors in order to make a proper diagnosis.')%><br />
        <a target="_blank" class="text-cvs-red hover:underline"
          href="<%= urls.privacyPolicy %>"><%= __('Our privacy policy can be found here')%></a>.
      </p>

      <p>
        <label class="checkbox" for="accept-privacy-policy">
          <input required type="checkbox" id="accept-privacy-policy" name="accept-privacy-policy"
            <%= passcode ? 'checked' : '' %>>
          <span><%= __(`I agree to my data being stored in accordance with the privacy statement`)%>
            (<%= __('required')%>)</span>
          <span class="checkmark"></span>
        </label>
      </p>
      <!-- Accept Cookie
    <p>
      <label class="checkbox" for="accept-remember">
        <input type="checkbox" id="accept-remember" name="accept-remember">
        <span><%= __(`I agree to set a cookie so I can report changes in my health condition later`)%> (<%= __('recommended')%>)</span>
        <span class="checkmark"></span>
      </label>
    </p>
    -->

      <ul class="mt-6">
        <li>
          <input type="hidden" name="passcode" value="<%= passcode %>" />
          <input class="inverse" type="submit" value="<%= __('Submit report') %>">
        </li>
      </ul>
  </form>
</section>

<section class="w-full self-center text-center m-2">
  <%- include('partials/share') -%>
</section>

<section class="custom-section p-4">
  <div class="custom-section-content mx-auto">
    <h2 class="sr-only"><%= __('Numbers') %></h2>
    <ul class="my-8 flex flex-row flex-wrap justify-between">
      <%- include('partials/app-stats-block', {
            image: '/static/images/napkin.svg',
            title: __('Total reports'),
            number: numberWithSpaces(aggregated.numberOfReports)
            }) -%>
      <!-- Contacted / Reported Fix equiation -->
      <%- include('partials/app-stats-block', {
            image: '/static/images/temperature-check.svg',
            title: __('Contacted / Reported'),
            number: `${numberWithSpaces(aggregated.numberOfConfirmedInfected)}/${numberWithSpaces(aggregated.numberOfTested)}`
            }) -%>

      <%- include('partials/app-stats-block', {
            image: '/static/images/transfer.svg',
            title: __(`In close contact with someone who's infected`),
            number: numberWithSpaces(aggregated.numberOfContacts)
            }) -%>

      <%- include('partials/app-stats-block', {
            image: '/static/images/symptoms.svg',
            title: __('Have symptoms'),
            number: numberWithSpaces(aggregated.numberOfPeopleShowingSymptoms)
            }) -%>
    </ul>
  </div>
</section>

<section class="custom-section custom-section-about px-6 lg:px-0 py-12 lg:py-24 bg-white">
  <div class="custom-section-content mx-auto">
    <div class="section-about-header flex flex-row items-center mb-8">
      <img class="section-about-header__img h-24 w-24" src="/static/images/recovery-path.svg" alt="">
      <h2 class="section-about-header__title ml-4 text-cvs-red text-2xl md:text-3xl lg:text-4xl font-bold">
        <%= __('About the platform') %></h2>
    </div>
    <p class="section-about-paragraph p-4 text-base lg:text-xl font-medium text-justify">
      <%= __(`To mitigate the spread of COVID-19, it is necessary for people to avoid leaving their homes, unless their health condition requires hospital care. For this reason, this platform provides a free service that seeks to reduce congestion in health centers through online reviews, providing specialized care to those who require it and reducing the risk of contagion for doctors.`) %>
    </p>
    <p class="section-about-paragraph p-4 text-base lg:text-xl font-medium text-justify">
      <%= __(`There is a worldwide limitation of tests for COVID-19, which leads to carefully choosing the population on which they should be made. From 5vid.co we want to help with the initial risk classification so that only the cases that really need it are escalated. However, in no way does this platform aim to diagnose the presence of the virus.`) %>
    </p>
    <p class="section-about-paragraph p-4 text-base lg:text-xl font-medium text-justify">
      <%= __(`We clarify that this is not a Government tool to obtain information about the pandemic. However, it is intended to decongest official hotlines. We remind you that if you are in a delicate health condition, you should consult with the health authorities and follow all their recommendations.`) %>
      <a class="text-cvs-red font-bold hover:underline" target="_blank" href="<%=urls.help%>">
        <%= __(`See hotlines.`) %>
      </a>
    </p>
    <div class="hashtag-item-container flex flex-row justify-around" style="margin: 4rem 0 -14rem 0;">
      <div class="hashtag-item text-center flex flex-col items-center w-1/2">
        <div class="hashtag-item__title text-cvs-red font-medium text-lg md:text-3xl uppercase m-2">
          <%- __('#lavatusmanos') %></div>
        <img src="/static/images/washing-hands.svg" alt="" class="hashtag-item__img h-35 w-35 lg:h-40 lg:w-40 m-2">
      </div>
      <div class="hashtag-item text-center flex flex-col items-center w-1/2">
        <div class="hashtag-item__title text-cvs-red font-medium text-lg md:text-3xl uppercase m-2">
          <%- __('#quedateencasa') %></div>
        <img src="/static/images/stay-home.svg" alt="" class="hashtag-item__img h-35 w-35 lg:h-40 lg:w-40 m-2">
      </div>
    </div>
  </div>
</section>

<!--Validation-->
<script>
  
</script>

<script src="/static/form.js?v=<%= locals.cacheKey %>"></script>

<script>
  function hasSubmittedAlertOnClick() {
    document.getElementById('has-submitted-alert').style.display = 'none';
    window.localStorage.setItem("hasCrossedOutInfo", "true");
  }

  if ((window.localStorage.getItem("hasSubmittedProfile") === "true"
    || window.localStorage.getItem("isUsingPasscodeLink") === "true")
    && window.localStorage.getItem("hasCrossedOutInfo") !== "true"
    && window.location.pathname.indexOf("helsetilstand") === -1) {
    document.getElementById('has-submitted-alert').style.display = 'flex';
  }

  var symptoms = document.querySelectorAll('input[name^="symptom-"]:checked');
  if (symptoms != null && symptoms.length > 0) {
    document.getElementById('symptom-start-question').required = true;
    document.getElementById('symptom-start-question').style.display = 'block';
  }
  else {
    document.getElementById('symptom-start-question').required = false;
    document.getElementById('symptom-start-question').value = null;
  }

  changeTestResultDisplay(document.getElementById("been-tested-yes").checked);
  changePregnantDisplay(document.getElementById("gender-female").checked);

  var hasPasscodeCookie = document.cookie.includes('passcode');
  document.getElementById('accept-remember').checked = hasPasscodeCookie;
  var videoElement = document.getElementById('video-element')
  var videoInputElement = document.getElementById('video-file')
  var uploadProgressElement = document.getElementById('video-upload-progress')
  var videoUrlElement = document.getElementById('video-url')
  var uploadedUrl = ""
  var uploadProgress = (progress) => {
    uploadProgressElement.innerText = "Cargando archivo " + progress + "%"
  }
  videoInputElement.onchange = () => {
    submitButtonElement.disabled = true
    submitButtonElement.value = "Cargando el video..."
    const files = videoInputElement.files
    if (files && files.length > 0) {
      videoElement.src = URL.createObjectURL(files[0]);
      UploadApi.uploadMedia(files[0], uploadProgress)
        .then((response) => {
          debugger
          videoUrlElement.value = response
          submitButtonElement.disabled = false
          submitButtonElement.value = "ENVIAR REPORTE"
        }, uploadProgress)
        .catch((err) => {
          console.log("Failed to upload video", err)
          submitButtonElement.disabled = false
          submitButtonElement.value = "ENVIAR REPORTE"
        })
    }
  }

  class UploadApi {
    static async getUploadUrl(filename) {
      const getUrl = (filename) => {
        return new Promise((res, rej) => {
          let req = new XMLHttpRequest()
          req.open("POST", "https://86pw37zri7.execute-api.us-west-2.amazonaws.com/prod/file/urls")
          req.setRequestHeader("Content-Type", "application/json;charset=UTF-8")
          req.send(JSON.stringify({ filename: filename }))
          req.onload = () => {
            res(JSON.parse(req.responseText))
          }
          req.onerror = (err) => {
            console.log('error getting file url', err)
          }
        })
      }
      const resp = await getUrl(filename)
      return resp
    }

    static async uploadMedia(file, progressCallback) {
      const onProgress = (e) => {
        if (e.lengthComputable) {
          const percent = Math.round((e.loaded / e.total) * 100);
          progressCallback(percent);
        }
      }

      const data = new FormData();

      const s3Params = await UploadApi.getUploadUrl(file.name)
      Object.keys(s3Params.fields).forEach(key => {
        data.set(key, s3Params.fields[key])
      })

      data.append('file', file);

      try {
        await axios({
          url: s3Params.url,
          method: 'POST',
          data: data,
          onUploadProgress: onProgress
        })
        return s3Params.url + "/" + s3Params.fields.key
      } catch (err) {
        console.log(err)
      }
      return ""
    }
  }
</script>

<script>
  (function scrollCallToAction() {
    document.querySelectorAll('[href="#contribute"]').forEach(function (element) {
      element.addEventListener("click", function (event) {
        event.preventDefault();
        document.getElementById("contribute").scrollIntoView({ behavior: "smooth" });
      });
    });
  })()
</script>

<%- include('partials/footer', { home: true }) -%>